html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Copperplate Gothic";
  background-color:#393e46;;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
header{
  height:80px;
  background-color:#333333;
  color:#fbc25c;
}
header h1{
 padding:10px 200px 20px 10px;
 float:left;
 font-size:40px;
 text-align:right;
}
header li {
  text-align:right;
  padding :30px 20px;
  float:left;
  margin:0 auto;
}
header li:hover{
  opacity:0.6;
  color:#f7bC13;
}
.fa{
  padding:15px 10px 40px 5px;
  text-align:right
}
.fa:hover{
  opacity:0.6;
  color:#f7bc13;
}
.imgBox { /* now a container for the image */
    display: inline-block; /* shrink wrap to image */
    overflow: hidden;

    padding:0px;
    float:left
   /* hide the excess */
  }
  .imgBox img {
    display: block; /* no whitespace */
    transition: .6s ease-in-out;
  }
  .imgBox:hover img {
    transform: scale(1.1);
  }
.quote{
  padding-top: 10px;
  margin-top:10px;
  padding-left:300px ;
  padding-right:300px;
  padding-bottom:20px;
  text-align:justify;
  float:center;
  background-color:#393e46;
  width:700px;
  border-bottom: 2px solid black;
  font-family: "FORQUE";
  font-size: 30px;
}
.text{
  color:white;
  font-size:150px;
  opacity:0.3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text:hover{
opacity: 0;
}
.yout{
 float:left;
}
.imgBox1 { /* now a container for the image */
    display: inline-block; /* shrink wrap to image */
    overflow: hidden;

    padding:0px;
   /* hide the excess */
  }
  .imgBox1 img {
    display: block; /* no whitespace */
    transition: .9s ease-in-out;
  }
  .imgBox1:hover img {
    transform: scale(1.1);
  }
  .enquiry5{
    font-size:25px;
    padding-bottom: 10px;
  }
  .enquiry{
    padding top:20px;
  }
  .contact{
  
   width:300px;
   height:300px;
   font-family:"Moonbase Omega";
  }
  .sen{
    float:center;
    color:black;
    background-color:#beebe9;
    border:2px solid #2a7886;
  }
  .sen:hover{
    color:white;
    background-color:#2a7886;
  }
input{
  background-color: #ffe3ed;
}
.input:hover{
  opacity:0.8;
}
footer{
 font-family:"Moon 2.0";
  color:#c9d4c5;
  background-color:#0a0c0f;

}
footer h2{
 float:left;
 padding:5px 170px 5px 5px;
 font-size: 30px;
}
footer li{
  text-align:right;
  font-size: 15px;
  padding-right: 5px;
  
}
footer li:hover{
  opacity:0.7;
